body {
  /* padding: 10px; */
  font-family: sans-serif;
}

:root {
  --cornflower-blue: #4568dc;
  --soft-purple: #b06ab3;
  --baby-pink: #f6c3e5;
  --black: #212529;
  --black-87: rgba(33, 37, 41, 0.87);
  --black-60: rgba(33, 37, 41, 0.6);
  --black-34: rgba(33, 37, 41, 0.34);
  --black-22: rgba(33, 37, 41, 0.22);
  --black-8: rgba(33, 37, 41, 0.08);
  --real-black: #000000;
  --white: #ffffff;
}

.full-height {
  /* position: fixed; */
  height: 100vh;
  /* width: 100vw; */
}

.gradient {
  background-image: linear-gradient(
    153deg,
    var(--cornflower-blue),
    var(--soft-purple)
  );
}

.container-intro {
  padding: 32px 0;
}

.container-illustration {
  height: 56vh;
  padding: 32px 0;
}

.logo-white {
  object-fit: contain;
}

.illustration {
  width: 100%;
}

.button-intro {
  background-color: var(--baby-pink);
}
